.grid-cell {
    position: absolute;
    width: 16px;
    height: 16px;
}

.coin {
    position: absolute;
    width: 16px;
}

.coin-shadow {
    position: absolute;
    background: url(/public/coin-shadow.png) no-repeat no-repeat;
}

.coin-sprite {
    position: absolute;
    background: url(/public/coin.png) no-repeat no-repeat;
    animation: coinFloat 0.8s linear infinite alternate-reverse;
}
@keyframes coinFloat {
    from { transform: translateY(0) }
    to { transform: translateY(5px) }
}
