.skins{
    display: flex;
    flex-direction: row;
}

.skin {
    overflow: hidden;
    background: url(/public/characters.png);
    background-size: auto 192px;
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
    margin-right: 10px;
}

.skin:hover {
    background-position-x: -32px;
}

.skin[color="red"]{
background-position-y: -32px;
}
.skin[color="orange"] {
  background-position-y: -64px;
}
.skin[color="yellow"] {
  background-position-y: -96px;
}
.skin[color="green"]{
  background-position-y: -128px;
}
.skin[color="purple"]{
  background-position-y: -160px;
}

.skin[owned="false"] {
    filter: grayscale(80%)
}

button {
    border: none;
    cursor: pointer;
}