.App {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
}

.game-container {
  position: fixed;
  width: 240px;
  height: 208px;
  background: url(/public/map.png) no-repeat no-repeat;
  transform: scale(2);
  image-rendering: pixelated;
}

.ui {
  position: fixed;
  top: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player-name input {
  height: 30px;
  border: 1px solid black;
  border-radius: 8px;
}

.chat {
  border: 1px solid black;
  margin: 5% 0 5% 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  bottom: 0;
  padding: 3px;
  border-radius: 8px;
  background-color: white;
}

.messages {
  overflow-y: auto;
  height: 100px;
}

.message-input {
  border-top: 1px solid black;
}

.chat input, .chat input:focus {
  width: 280px;
  border: none;
  outline: none;
}

.skin-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  height: 180px;
  width: 200px;
  margin-left: 20px;
}

h4 {
  margin-top: 5%;
}

.skins {
  margin-top: 13%;
  padding-left: 9px;
  max-width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.skin {
  overflow: hidden;
  background: url(/public/characters.png);
  background-size: auto 192px;
  width: 32px;
  height: 32px;
  image-rendering: pixelated;
  margin-right: 10px;
}

.store-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  height: 180px;
  width: 200px;
  margin-left: 20px;
}

.store {
  margin-top: 13%;
  padding-left: 9px;
  max-width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.skin:hover {
  background-position-x: -32px;
}

.skin[color="red"]{
background-position-y: -32px;
}
.skin[color="orange"] {
background-position-y: -64px;
}
.skin[color="yellow"] {
background-position-y: -96px;
}
.skin[color="green"]{
background-position-y: -128px;
}
.skin[color="purple"]{
background-position-y: -160px;
}

.false {
  filter: grayscale(95%)
}

button {
  border: none;
  cursor: pointer;
}