.App:not(.character-name-container) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
}

.title {
    position:absolute;
    top: 2%;
    height: 90px;
    display: flex;
    justify-content: center;
    cursor: default;
}

.game-container {
  position: fixed;
  width: 240px;
  height: 208px;
  top: 25%;
  left:19%;
  background: url(/public/map.png) no-repeat no-repeat;
  transform: scale(2);
  image-rendering: pixelated;
}

.right {
  position: fixed;
  top: 13%;
  left: 60%;
}

.ui {
  position: fixed;
  top: 66%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player-name input {
  height: 30px;
  border: 1px solid black;
  border-radius: 8px;
}

.chat {
  border: 1px solid black;
  margin: 5% 0 5% 0;
  width: 500px;
  display: flex;
  flex-direction: column;
  bottom: 0;
  padding: 3px;
  border-radius: 8px;
  background-color: white;
}

.messages {
  overflow-y: auto;
  height: 100px;
}

.message-input {
  border-top: 1px solid black;
}

.chat input, .chat input:focus {
  width: 280px;
  border: none;
  outline: none;
}

.skin-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  height: 200px;
  width: 300px;
  overflow-y: auto;
  margin-left: 20px;
}

h4 {
  margin-top: 5%;
}

.skins {
  padding-left: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 7%;
}

.skin {
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
}

.store-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  height: 200px;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
}

.store {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.store button {
  position:absolute;
  top: 90%;
  left: 77%;
  z-index: 1;
}

.skin:hover {
  transform: scaleX(-1)
}

.false {
  filter: grayscale(95%)
}

img {
  cursor: pointer;
}

@media only screen and (max-width: 800px) and (min-height: 600px) {
  .title {
    top: 1%;
    height: 60px;
  }
  .game-container{
    left: 15%
  }
  .right {
    left: 56%;
  }
  .store button {
    position:absolute;
    top: 90%;
    left: 77%
  }
  .player-name input {
    position: fixed;
    top: 75%;
    left: 5%;
  }
  .chat {
    position: fixed;
    width: 400px;
    height: 100px;
    top: 75%;
    left: 5%;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) {
  .title {
    top: 1%
  }
  .game-container{
    left: 15%
  }
  .right {
    left: 56%;
  }
  .store button {
    position:absolute;
    top: 90%;
    left: 77%
  }
  .ui {
    position: fixed;
    top: 60%;
  }
}
/* 
@media only screen and (min-height: 800px) {
  .ui {
    position: fixed;
    top: 60%;
  }
  .game-container{
    top: 27%;
  }
  .right {
    top: 17%;
    left: 56%;
  }
  .title {
    top: 4%
  }
} */


@media only screen and (max-width: 421px) and (max-height: 920px) {
  .title {
    top: 2%;
    height: 60px;
  }
  .game-container{
    transform: scale(1.7);
    top: 36%;
    left: 20%
  }
  .ui, .skin, .skins, .left {
    top: 0%;
    left: 0%;
    margin: 0;
    padding: 0
  }
  .right {
    position:absolute
  }
  .skin-ui {
    position:fixed;
    left: 8%;
    top: 10%;
    height: 120px;
    width: 150px;
    margin: 0;
    padding: 0;
    overflow-y: none;
    overflow-x: auto;
  }
  .store-ui {
    position:fixed;
    left: 52%;
    top: 10%;
    height: 120px;
    width: 150px;
    margin: 0;
    padding: 0;
    overflow-y: none;
    overflow-x: auto;
  }
  .store button {
    position:fixed;
    top: 25%;
    left: 63%;
    z-index: 2;
  }
  .player-name input {
    position: fixed;
    top: 71%;
    left: 7%;
    z-index: 2;
  }
  .chat {
    position: fixed;
    width: 340px;
    height: 190px;
    top: 73%;
    left: 7%;
  }
  .messages {
    height: 200px
  }
}

  @media only screen and (max-width: 420px) and (max-height: 740px) {
    .title {
      top: 2%;
      height: 60px;
    }
    .game-container{
      transform: scale(1.5);
      top: 38%;
      left: 18%
    }
    .ui, .skin, .skins, .left {
      top: 0%;
      left: 0%;
      margin: 0;
      padding: 0
    }
    .right {
      position:absolute
    }
    .skin-ui {
      position:fixed;
      left: 8%;
      top: 13%;
      height: 100px;
      width: 150px;
      margin: 0;
      padding: 0;
      overflow-x: auto;
    }
    .skins, .items {
      flex-wrap: nowrap;
      overflow-y: hidden;
      overflow-x: auto;
      padding-top: 10px;
      padding-bottom: 7px;
      margin-bottom: 5px;
      margin-left: 50px;
    }
    .store {
      overflow-y: hidden;
    }

    .store-ui {
      position:fixed;
      left: 52%;
      top: 13%;
      height: 100px;
      width: 150px;
      margin: 0;
      padding: 0;
      overflow-x: auto;
    }
    .store button {
      position:fixed;
      top: 28%;
      left: 63%;
      z-index: 2;
    }
    .player-name input {
      position: fixed;
      top: 77%;
      left: 4%;
    }
    .chat {
      position: fixed;
      width: 340px;
      height: 100px;
      top: 80%;
      left: 4%;
    }
  }